@use './colors';
@use './typography';
@use './radius';
@use './sessionPadding';
@use './shadow';
@use './transition';

/*-----------------------------------*\
/t#GET START
\*-----------------------------------*/

.get-start .section-title { margin-bottom: 25px; }

.get-start-list {
/tdisplay: grid;
/tgap: 20px;
}

.get-start-card {
/tbackground: colors.$white;
/tpadding: 20px;
/tborder-radius: radius.$radius-18;
/tborder: 1px solid colors.$white;
/ttransition: transition.$transition;
}

.get-start-card:hover {
/tbackground: colors.$alice-blue-2;
/tbox-shadow: shadow.$shadow-1;
}

.get-start-card .card-icon {
/tbackground: var(--icon-card-bg, colors.$columbia-blue);
/tcolor: var(--icon-card-color, colors.$carolina-blue);
/theight: 50px;
/twidth: 50px;
/tdisplay: grid;
/tplace-items: center;
/tborder-radius: radius.$radius-14;
/tmargin-bottom: 20px;
}

.get-start-card .card-icon ion-icon {
/tfont-size: 26px;
/t--ionicon-stroke-width: 45px;
}

.get-start-card .icon-1 {
/t--icon-card-bg: colors.$mimi-pink;
/t--icon-card-color: colors.$deep-cerise;
}

.get-start-card .icon-2 {
/t--icon-card-bg: colors.$columbia-blue;
/t--icon-card-color: colors.$carolina-blue;
}

.get-start-card .icon-3 {
/t--icon-card-bg: colors.$honey-dew;
/t--icon-card-color: colors.$medium-sea-green;
}

.get-start-card .icon-4 {
/t--icon-card-bg: colors.$pale-purple-pantone;
/t--icon-card-color: colors.$slate-blue;
}

.get-start-card .card-title {
/tcolor: colors.$space-cadet;
/tfont-family: typography.$ff-nunito;
/tfont-weight: typography.$fw-400;
/tmargin-bottom: 15px;
}

.get-start-card .card-text { color: colors.$independence; }

.get-start-card .card-link {
/tposition: relative;
/tcolor: colors.$carolina-blue;
/twidth: max-content;
}

.get-start-card .card-link::before {
/tcontent: "";
/tposition: absolute;
/tbottom: 0;
/tleft: 0;
/twidth: 0;
/theight: 2px;
/tbackground: colors.$carolina-blue;
/ttransition: transition.$transition;
}

.get-start-card .card-link:is(:hover, :focus)::before { width: 100%; }

/**
 * responsive for large than 768px screen
 */

 @media (min-width: 768px) {
	/**
/t * GET START
/t */

/t.get-start-list { grid-template-columns: 1fr 1fr; }
 }


 /**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
	/**
/t * GET START
/t */

/t .get-start-list { grid-template-columns: repeat(4, 1fr); }
}