@use './colors';
@use './typography';
@use './radius';
@use './sessionPadding';
@use './shadow';
@use './transition';

/*-----------------------------------*\
  #GET START
\*-----------------------------------*/

.get-start .section-title { margin-bottom: 25px; }

.get-start-list {
  display: grid;
  gap: 20px;
}

.get-start-card {
  background: colors.$white;
  padding: 20px;
  border-radius: radius.$radius-18;
  border: 1px solid colors.$white;
  transition: transition.$transition;
}

.get-start-card:hover {
  background: colors.$alice-blue-2;
  box-shadow: shadow.$shadow-1;
}

.get-start-card .card-icon {
  background: var(--icon-card-bg, colors.$columbia-blue);
  color: var(--icon-card-color, colors.$carolina-blue);
  height: 50px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: radius.$radius-14;
  margin-bottom: 20px;
}

.get-start-card .card-icon ion-icon {
  font-size: 26px;
  --ionicon-stroke-width: 45px;
}

.get-start-card .icon-1 {
  --icon-card-bg: colors.$mimi-pink;
  --icon-card-color: colors.$deep-cerise;
}

.get-start-card .icon-2 {
  --icon-card-bg: colors.$columbia-blue;
  --icon-card-color: colors.$carolina-blue;
}

.get-start-card .icon-3 {
  --icon-card-bg: colors.$honey-dew;
  --icon-card-color: colors.$medium-sea-green;
}

.get-start-card .icon-4 {
  --icon-card-bg: colors.$pale-purple-pantone;
  --icon-card-color: colors.$slate-blue;
}

.get-start-card .card-title {
  color: colors.$space-cadet;
  font-family: typography.$ff-nunito;
  font-weight: typography.$fw-400;
  margin-bottom: 15px;
}

.get-start-card .card-text { color: colors.$independence; }

.get-start-card .card-link {
  position: relative;
  color: colors.$carolina-blue;
  width: max-content;
}

.get-start-card .card-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: colors.$carolina-blue;
  transition: transition.$transition;
}

.get-start-card .card-link:is(:hover, :focus)::before { width: 100%; }

/**
 * responsive for large than 768px screen
 */

 @media (min-width: 768px) {
    /**
   * GET START
   */

  .get-start-list { grid-template-columns: 1fr 1fr; }
 }


 /**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
    /**
   * GET START
   */

   .get-start-list { grid-template-columns: repeat(4, 1fr); }
}