@use './colors';
@use './typography';
@use './radius';
@use './sessionPadding';
@use './shadow';
@use './transition';

.hero-form {
		background: colors.$gradient;
		border: 1px solid colors.$white;
		box-shadow: shadow.$shadow-1;
		border-radius: radius.$radius-18;
		font-family: typography.$ff-nunito;
  }
  .input-wrapper { padding: 15px 20px; }

  .input-wrapper:not(:last-of-type) { border-bottom: 1px solid hsla(0, 0%, 0%, 0.08); }
  
  .input-label {
		color: colors.$manatee;
		font-size: typography.$fs-6;
		margin-bottom: 10px;
  }
  
  .input-field {
		color: colors.$space-cadet;
		outline: 2px solid transparent;
		outline-offset: 5px;
		border-radius: 4px;
		transition: transition.$transition;
  }
  
  .input-field:focus { outline-color: colors.$carolina-blue; }
  
  .input-field::placeholder { color: colors.$independence; }
  
  .hero-form .btn {
		--width: calc(100% - 40px);
		--height: 50px;
		margin: 20px;
		text-transform: uppercase;
  }
  
.container-radio {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
  }
  
  .radio_container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #f1efef;
		width: 180px;
		height: 50px;
		border-radius: 9999px;
		box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
  }
  
  input[type="radio"] {
		appearance: none;
		display: none;
  }
  
  .radio_container label {
		font-family: "Open Sans", sans-serif;
		font-size: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: inherit;
		width: 70px;
		height: 40px;
		text-align: center;
		border-radius: 9999px;
		overflow: hidden;
		transition: linear 0.3s;
		color: #6e6e6edd;
  }
  
  .radio_container input[type="radio"]:checked + label {
		background-color: #1e90ff;
		color: #f1f3f5;
		font-weight: 900;
		transition: 0.3s;
  }
  
  .container-checkbox{
		height: 50%;
		display: grid;
		place-items: center;
		
		.row{
		  width: min(100%, 100%);
		  padding: 3px 30px;
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  border-radius: 5px;
		  color: grey;
		}
  }
  
  .container-checkbox .btn-wrap{
		position: relative;
		background: #eee;
		width: 60px;
		height: 30px;
		border-radius: 100vh;
		transition: background .4s ease;
		
		&::before{
		  content: '';
		  position: absolute;
		  inset-block: 0;
		  left: 0;
		  width: 30px;
		  border-radius: 100vh;
		  background: #888;
		  transition: transform .4s ease;
		}
		
		&:has(input[type="checkbox"]:checked){
		  background: #80ED99;
		  
		  &::before{
				transform: translateX(30px);
		  }
		}
		
		input[type="checkbox"]{
		  opacity: 0;
		  position: absolute;
		  inset: 0;
		  cursor: pointer;
		}
  }

  @media (min-width: 350px) {
		.hero-form {
				opacity: 0.9
				;
				width: 85%;
		  }
  }

  @media (min-width: 768px) {
		.hero-form {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		  }
		
		  .input-wrapper:not(:last-of-type) {
				border-bottom: none;
				border-right: 1px solid hsla(0, 0%, 0%, 0.08);
		  }
		
		  .input-label {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
		  }
		  .hero-form {
				width: 90%;
		  }
  }

  @media (min-width: 1200px){
		.hero-form { max-width: 1000px; }

		.hero-form .btn {
		  --width: calc(100% - 40px);
		  --height: 50px;
		  margin: 20px;
		  text-transform: uppercase;
		}
  }

  .price {
		font-family: typography.$ff-nunito;
		font-size: 12px;
		color: green;
		font-weight: bold;
}