@use './colors';
@use './typography';
@use './radius';
@use './sessionPadding';
@use './shadow';
@use './transition';

.hero-form {
		background: colors.$gradient;
		border: 1px solid colors.$white;
		box-shadow: shadow.$shadow-1;
		border-radius: radius.$radius-18;
		font-family: typography.$ff-nunito;
/t}
/t.input-wrapper { padding: 15px 20px; }

/t.input-wrapper:not(:last-of-type) { border-bottom: 1px solid hsla(0, 0%, 0%, 0.08); }
/t
/t.input-label {
		color: colors.$manatee;
		font-size: typography.$fs-6;
		margin-bottom: 10px;
/t}
/t
/t.input-field {
		color: colors.$space-cadet;
		outline: 2px solid transparent;
		outline-offset: 5px;
		border-radius: 4px;
		transition: transition.$transition;
/t}
/t
/t.input-field:focus { outline-color: colors.$carolina-blue; }
/t
/t.input-field::placeholder { color: colors.$independence; }
/t
/t.hero-form .btn {
		--width: calc(100% - 40px);
		--height: 50px;
		margin: 20px;
		text-transform: uppercase;
/t}
/t
.container-radio {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
/t}
/t
/t.radio_container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #f1efef;
		width: 180px;
		height: 50px;
		border-radius: 9999px;
		box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
/t}
/t
/tinput[type="radio"] {
		appearance: none;
		display: none;
/t}
/t
/t.radio_container label {
		font-family: "Open Sans", sans-serif;
		font-size: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: inherit;
		width: 70px;
		height: 40px;
		text-align: center;
		border-radius: 9999px;
		overflow: hidden;
		transition: linear 0.3s;
		color: #6e6e6edd;
/t}
/t
/t.radio_container input[type="radio"]:checked + label {
		background-color: #1e90ff;
		color: #f1f3f5;
		font-weight: 900;
		transition: 0.3s;
/t}
/t
/t.container-checkbox{
		height: 50%;
		display: grid;
		place-items: center;
		
		.row{
		/twidth: min(100%, 100%);
		/tpadding: 3px 30px;
		/tdisplay: flex;
		/tjustify-content: space-between;
		/talign-items: center;
		/tborder-radius: 5px;
		/tcolor: grey;
		}
/t}
/t
/t.container-checkbox .btn-wrap{
		position: relative;
		background: #eee;
		width: 60px;
		height: 30px;
		border-radius: 100vh;
		transition: background .4s ease;
		
		&::before{
		/tcontent: '';
		/tposition: absolute;
		/tinset-block: 0;
		/tleft: 0;
		/twidth: 30px;
		/tborder-radius: 100vh;
		/tbackground: #888;
		/ttransition: transform .4s ease;
		}
		
		&:has(input[type="checkbox"]:checked){
		/tbackground: #80ED99;
		/t
		/t&::before{
				transform: translateX(30px);
		/t}
		}
		
		input[type="checkbox"]{
		/topacity: 0;
		/tposition: absolute;
		/tinset: 0;
		/tcursor: pointer;
		}
/t}

/t@media (min-width: 350px) {
		.hero-form {
				opacity: 0.9
				;
				width: 85%;
		/t}
/t}

/t@media (min-width: 768px) {
		.hero-form {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		/t}
		
		/t.input-wrapper:not(:last-of-type) {
				border-bottom: none;
				border-right: 1px solid hsla(0, 0%, 0%, 0.08);
		/t}
		
		/t.input-label {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
		/t}
		/t.hero-form {
				width: 90%;
		/t}
/t}

/t@media (min-width: 1200px){
		.hero-form { max-width: 1000px; }

		.hero-form .btn {
		/t--width: calc(100% - 40px);
		/t--height: 50px;
		/tmargin: 20px;
		/ttext-transform: uppercase;
		}
/t}

/t.price {
		font-family: typography.$ff-nunito;
		font-size: 12px;
		color: green;
		font-weight: bold;
}