/*-----------------------------------*\
	#style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */


 @use './colors';
 @use './typography';
 @use './radius';
 @use './sessionPadding';
 @use './shadow';
 @use './transition';

/*-----------------------------------*\
#HEADER
\*-----------------------------------*/

.header-contact { display: none; }

.header {
	background: colors.$alice-blue-1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: transition.$transition;
	z-index: 4;
}

.header.active { box-shadow: shadow.$shadow-1; }

.header .container {
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-actions {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header-actions .btn span { display: none; }

.user-btn {
	--color: colors.$independence;
	--background: colors.$white;
	--shadow-2: shadow.$shadow-1;
	box-shadow: shadow.$shadow-1;
}

.nav-toggle-btn span {
	background: colors.$independence;
	width: 22px;
	height: 2px;
	border-radius: 2px;
	margin-block: 8px;
	transform-origin: right;
	transition: transition.$transition;
}

.nav-toggle-btn span.two { transform: scaleX(0.7); }

.nav-toggle-btn span.three { transform: scaleX(0.4); }

.nav-toggle-btn:is(:hover, :focus) span { background: colors.$carolina-blue; }

.nav-toggle-btn.active span {
	transform: scaleX(1);
	background: colors.$carolina-blue;
}

.navbar {
	background: colors.$alice-blue-1;
	position: fixed;
	top: 70px;
	bottom: 0;
	right: -260px;
	max-width: 260px;
	width: 100%;
	padding: 20px 25px;
	border: 1px solid colors.$white;
	box-shadow: shadow.$shadow-1;
	visibility: hidden;
	transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
}

.navbar.active {
	visibility: visible;
	transform: translateX(-100%);
	transition: 0.5s cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

.navbar-link {
	color: colors.$independence;
	font-family: typography.$ff-nunito;
	font-size: typography.$fs-6;
	padding-block: 5px;
	margin-bottom: 15px;
}

.navbar-link:is(:hover, :focus) { color: colors.$carolina-blue; }

.overlay {
	position: fixed;
	top: 70px;
	background: hsl(216, 38%, 95%);
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	pointer-events: none;
	transition: transition.$transition;

	.active {
		opacity: 0.7;
		pointer-events: all;
		}
}
	
/**
* responsive for large than 580px screen
*/

@media (min-width: 580px) {
	/**
	 * HEADER
	 */
	
	.header-actions .btn span {
		display: block;
		font-weight: typography.$fw-400;
		padding-inline: 15px;
	}
	
	.header-actions .btn:first-of-type ion-icon { display: none; }
	
}
	
	
	
	
	
/**
* responsive for large than 768px screen
*/

@media (min-width: 768px) {
	/**
	 * HEADER
	 */
	
	.header-actions { gap: 30px; }
	
	.header-contact {
		display: block;
		text-align: center;
	}
	
	.header-contact .contact-link {
		color: colors.$space-cadet;
		font-family: typography.$ff-nunito;
		font-size: typography.$fs-5;
		line-height: 1.3;
	}
	
	.header-contact .contact-link:is(:hover, :focus) { color: colors.$carolina-blue; }
	
	.header-contact .contact-time {
		color: colors.$independence;
		font-size: typography.$fs-7;
	}
}
	
	
	
	
	
	
/**
* responsive for large than 1200px screen
*/

@media (min-width: 1200px) {
	/**
	 * HEADER
	 */
	
	.overlay,
	.nav-toggle-btn { display: none; }
	
	.navbar,
	.navbar.active { all: unset; }
	
	.navbar-link {
		margin-bottom: 0;
		font-weight: typography.$fw-600;
	}
	
	.navbar-list {
		display: flex;
		gap: 50px;
	}
}