@use './colors';
@use './typography';
@use './radius';
@use './sessionPadding';
@use './shadow';
@use './transition';
/*-----------------------------------*\
/t#HERO
\*-----------------------------------*/

.hero { padding-top: 120px; }

.hero-title {
/tmax-width: 20ch;
/tmargin-bottom: 15px;
}

.hero-text {
/tcolor: colors.$carolina-blue;
/tline-height: 1.8;
/tmargin-bottom: 30px;
}

.hero-banner { display: none; }

@media (min-width: 350px){
		.hero-banner {
				display: block;
				background: url("../../public/assets/images/Banner-5cho.gif") no-repeat;
				background-size: cover;
				background-position: right;
				position: absolute;
				top: 260px;
				bottom: 50px;
				left: 1%;
				width: 99%;
				border-radius: 30px 0 0 30px;
				z-index: -1;
				height: 100%;
				--transform: scaleX(-1);
		/t}
}

@media (min-width: 768px) {
		.hero {
				position: relative;
				min-height: 85vh;
				display: flex;
				align-items: center;
				z-index: 1;
		/t}

		/t.hero-banner {
				display: block;
				background: url("../../public/assets/images/Banner-5cho.gif") no-repeat;
				background-size: auto;
				background-position: left;
				position: absolute;
				top: 100px;
				bottom: 50px;
				left: 65%;
				width: 500px;
				border-radius: 30px;
				z-index: -1;
		/t}
}

@media (min-width: 992px){
		.hero .container { width: 100%; }
}

@media (min-width: 1200px) {
		.hero { min-height: 100vh; }

		.hero-banner {
		/tleft: auto;
		/tright: 50px;
		/twidth: 1000px;
		}
}