@use './colors';
@use './typography';
@use './radius';
@use './sessionPadding';
@use './shadow';
@use './transition';
/*-----------------------------------*\
  #FEATURED CAR
\*-----------------------------------*/

.featured-car .title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px 15px;
    margin-bottom: 30px;
  }
  
  .featured-car-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: colors.$independence;
    font-size: typography.$fs-6;
  }
  
  .featured-car-link span { transition: transition.$transition; }
  
  .featured-car-link:is(:hover, :focus) span { color: colors.$space-cadet; }
  
  .featured-car-link ion-icon {
    margin-top: 3px;
    transition: transition.$transition;
  }
  
  .featured-car-link:is(:hover, :focus) ion-icon { color: colors.$carolina-blue; }
  
  .featured-car-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 30px;
  }
  
  .featured-car-card {
    background: colors.$gradient;
    border: 1px solid colors.$white;
    border-radius: radius.$radius-18;
    padding: 10px;
    box-shadow: shadow.$shadow-1;
  }
  
  .featured-car-card .card-banner {
    background: colors.$alice-blue-2;
    aspect-ratio: 3 / 2;
    border-radius: radius.$radius-18;
    overflow: hidden;
  }
  
  .featured-car-card .card-banner > img {
    height: 100%;
    object-fit: cover;
  }
  
  .featured-car-card .card-content { padding: 20px 10px 10px; }
  
  .featured-car-card .card-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
  }
  
  .featured-car-card .card-title { width: calc(100% - 60px); }
  
  .featured-car-card .card-title > a {
    color: inherit;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .featured-car-card .card-title > a:is(:hover, :focus) { color: colors.$carolina-blue; }
  
  .featured-car-card .year {
    font-family: typography.$ff-nunito;
    font-size: typography.$fs-6;
    font-weight: typography.$fw-600;
    padding: 3px 12px;
    border: 2px dashed hsla(204, 91%, 53%, 0.4);
    border-radius: radius.$radius-14;
  }
  
  .featured-car-card .card-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    margin-bottom: 15px;
  }
  
  .featured-car-card .card-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .featured-car-card .card-list-item ion-icon {
    font-size: 20px;
    color: colors.$carolina-blue;
    --ionicon-stroke-width: 38px;
  }
  
  .featured-car-card .card-item-text {
    color: colors.$independence;
    font-size: typography.$fs-6;
  }
  
  .featured-car-card .card-price-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  
  .featured-car-card .card-price {
    font-family: typography.$ff-nunito;
    font-size: typography.$fs-6;
    color: colors.$space-cadet;
  }
  
  .featured-car-card .card-price strong {
    font-size: typography.$fs-3;
    font-weight: typography.$fw-400;
  }
  
  .featured-car-card .btn:last-child {
    --height: 36px;
    min-width: 100%;
  }
  
  .featured-car-card .fav-btn {
    background: colors.$beau-blue;
    color: colors.$blue-jeans;
    height: 36px;
    width: 36px;
    // shadow-2: none;
  }
  
  .featured-car-card .fav-btn ion-icon { font-size: 18px; }
  
  .featured-car-card .fav-btn:is(:hover, :focus) {
    --background: colors.$lavender-blush;
    --color: colors.$red-salsa;
  }

  /**
 * responsive for large than 350px screen
 */

@media (min-width: 350px) {
  /**
   * FEATURED CAR
   */

  .featured-car-card .card-list { grid-template-columns: 1fr 1fr; }

  .featured-car-card .card-price { margin-right: auto; }

  .featured-car-card .btn:last-child {
    min-width: max-content;
    padding-inline: 15px;
  }
}

/**
 * responsive for large than 768px screen
 */

 @media (min-width: 768px) {
  /**
   * FEATURED CAR
   */

  .featured-car-list { grid-template-columns: repeat(2, minmax(0, 1fr)); }
 }

 /**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * FEATURED CAR 
   */

   .featured-car-list { grid-template-columns: repeat(3, minmax(0, 1fr)); }
}