/* body {
/tmargin: 0;
/tfont-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
/t-webkit-font-smoothing: antialiased;
/t-moz-osx-font-smoothing: grayscale;
}

code {
/tfont-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
} */
@use '../src/sass/colors';
@use '../src/sass/typography';
@use '../src/sass/radius';
@use '../src/sass/sessionPadding';
@use '../src/sass/shadow';
@use '../src/sass/transition';
/*-----------------------------------*\
#RESET
\*-----------------------------------*/

*, *::before, *::after {
/tmargin: 0;
/tpadding: 0;
/tbox-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
label,
input,
button,
ion-icon { display: block; }

button,
input {
/tbackground: none;
/tborder: none;
/tfont: inherit;
}

button { cursor: pointer; }

input { width: 100%; }

ion-icon { pointer-events: none; }

html {
/tfont-family: typography.$ff-open-sans;
/tcolor: colors.$eerie-black;
/tfont-size: 1rem;
/tline-height: 1.5;
/tscroll-behavior: smooth;
}

body {
/tbackground: colors.$alice-blue-1;
/toverflow-x: hidden;
}

::-webkit-scrollbar {
/twidth: 15px;
/theight: 10px;
}

::-webkit-scrollbar-track { background: colors.$white; }

::-webkit-scrollbar-thumb {
/tbackground: hsla(219, 14%, 60%, 0.3);
/tborder: 2px solid colors.$white;
}

::-webkit-scrollbar-thumb:hover { background: hsla(219, 14%, 60%, 0.5); }





/*-----------------------------------*\
#REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

button, a { transition: transition.$transition; }

.btn {
/tposition: relative;
/tbackground: var(--background, colors.$carolina-blue);
/tcolor: var(--color, colors.$white);
/tmin-width: var(--width, 40px);
/tmin-height: var(--height, 40px);
/tpadding: 5px;
/tdisplay: grid;
/tplace-items: center;
/tborder-radius: radius.$radius-14;
/tfont-family: typography.$ff-nunito;
/tfont-size: typography.$fs-6;
/tfont-weight: typography.$fw-600;
/toverflow: hidden;
}

.btn ion-icon {
/tfont-size: 22px;
/t--ionicon-stroke-width: 40px;
}

.btn::before {
content: "";
/tposition: absolute;
/tinset: 0;
/tbackground: linear-gradient(to right, hsla(0, 0%, 100%, 0.4), transparent);
/topacity: 0;
/tpointer-events: none;
/ttransition: transition.$transition;
}

.btn:is(:hover, :focus) { box-shadow: shadow.$shadow-2; }

.btn:is(:hover, :focus)::before { opacity: 1; }

.section { padding-block: sessionPadding.$section-padding; }

.h1,
.h2,
.h3 {
/tcolor: colors.$space-cadet;
/tfont-family: typography.$ff-nunito;
/tline-height: 1.4;
}

.h1 {
/tfont-size: typography.$fs-1;
/ttext-transform: uppercase;
}

.h2,
.h3 { font-weight: typography.$fw-400; }

.h2 { font-size: typography.$fs-2; }

.h3 { font-size: typography.$fs-4; }

.w-100 { width: 100%; }

/*-----------------------------------*\
/t#MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 350px screen
 */

 @media (min-width: 580px){
/t/**
/t * REUSED STYLE
/t */

/t .container {
	max-width: 540px;
	margin-inline: auto;
/t}

 }

 /**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
/t/**
/t * CUSTOM PROPERTY
/t */

/t :root {

	/**
	 * typography
	 */

	--fs-1: 2.625rem;

/t}



/t/**
/t * REUSED STYLE
/t */

/t.container { max-width: 720px; }
}

/**
 * responsive for large than 992px screen
 */

 @media (min-width: 992px) {
/t/**
/t * REUSED STYLE
/t */

/t .container { max-width: 960px; }

 }

 /**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
	/**
/t * CUSTOM PROPERTY
/t */

/t :root {

	/**
	 * typography
	 */

	--fs-1: 2.875rem;
	--fs-2: 2rem;

/t}



/t/**
/t * REUSED STYLE
/t */

/t.container { max-width: 1170px; }
}